body {
    background-color: lightblue;
    color: lightsalmon;
}

div {
    background-color: darkcyan;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 800px;

}

.check{
    color: snow;
    font-weight: bold;
    padding-bottom: auto;
    padding-top: auto;
}

.menu-item{
    width: 20%;
    display: inline-block;
    text-align: center;
}

a{
    color: skyblue;
    text-decoration: none;

}